<div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
          <div class="card-group" style="display: flex;">
            <div class="row">
                <!--	Details -->
                <div class="card bg-light mb-3" style="max-width: 1000px; padding:25px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                              <img src="../../assets/adminphotos/{{car.photoname}}  " class="card-img">
                              <p class="card-text">
                              <i class="fas fa-gas-pump"></i>{{car.fuelType}} &nbsp;&nbsp; &nbsp; &nbsp;
                              <i class="fa fa-cogs" aria-hidden="true"></i>{{car.transmission}} &nbsp;&nbsp; &nbsp; &nbsp;
                              <i class="fa fa-users" aria-hidden="true"></i>{{car.seats}} &nbsp;&nbsp;
                              </p>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Booking Details</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <!-- Points -->
                <div class="card bg-light mb-3" style="max-width: 1000px; padding:25px;">
                        <table class="table table-striped">
                            <thead>
                              <tr style="padding:50px">
                                <b>IMPORTANT POINTS TO REMEMBER</b>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>CHANGE IN <br/>PRICING PLAN:</td>
                                <td>The pricing plan (5 kms/hr, without fuel) cannot be changed after the booking is made</td>
                              </tr>
                              <tr>
                                <td>FUEL:</td>
                                <td>In case you are returning the car at a lower fuel level than what was received, we will charge a <br/> flat Rs 500
                                refuelling service charge + actual fuel cost to get the tank to the same level as what was received</td>
                              </tr>
                              <tr>
                                <td>ID VERIFICATION:</td>
                                <td>Please keep your original Driving License handy. While delivering the car to you, our executive will verify your original Driving License and ID proof 
                                (same as the ones whose details were provided while making the booking). This verification is mandatory. In the unfortunate case where you cannot show these documents, 
                                we will not be able to handover the car to you, 
                                and it will be treated as a late cancellation (100% of the fare would be payable). Driving license 
                                printed on A4 sheet of paper (original or otherwise) will not be considered as a valid document.</td>
                              </tr>
                              <tr>
                                <td>PRE-HANDOVER INSPECTION:</td>
                                <td>Please inspect the car (including the fuel gauge and odometer) thoroughly before approving the checklist.</td>
                              </tr>
                            </tbody>
                        </table>
                </div>
                
            
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 500px; ">
                        <table class="table table-striped">
                            <thead>
                              <tr><b>Fair Details</b></tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Base fare</td>
                                <td>1599</td>
                                
                              </tr>
                              <tr>
                                <td>Doorstep delivery & pickup</td>
                                <td>600</td>
                                
                              </tr>
                              <tr>
                                <td>Insurance & GST</td>
                                <td>Included</td>
                                
                              </tr>
                              <tr>
                                <td>Refundable security deposit</td>
                                <td>2000</td>
                                
                              </tr>
                              <tr>
                                <td><input type="text" placeholder="APPLY PROMO"id="" value="APPLY PROMO" style="padding: 0px; position: relative; width: 100%; border: none; outline: none; background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0.87);"/></td>
                                <td><button type="button" class="btn btn-success">Apply</button></td>
                                
                              </tr>
                              
                              <tr>
                                <td>Total</td>
                                <td>4000</td>
                                
                              </tr>
                              
                              <tr>
                                <td>Kms limit</td>
                                <td>130 kms</td>
                                
                              </tr>
                              
                              <tr>
                                <td>Fuel</td>
                                <td>Excluded</td>
                                
                              </tr>
                              
                              <tr>
                                <td>Extra kms charge</td>
                                <td> 8/km</td>
                                
                              </tr>
                              
                              <tr>
                                <td>Extra kms charge</td>
                                <td> 8/km</td>
                                
                              </tr>
                              
                               <tr>
                                <td>Tolls, Parking & Inter-state taxes</td>
                                <td>To Be Paid By You</td>
                                
                              </tr>
                              
                              <tr>
                                <td>PAY</td>
                                <td><button type="button" class="btn btn-success">PAY</button></td>
                                
                              </tr>
                              
                              
                            </tbody>
                        </table>
                </div>
          </div>
        </div>
        </div>