<app-topnav></app-topnav>
        <!-- [formGroup] = "uploadForm" -->
        <button type="button" class="btn btn-success" routerLink="/carhome">Go To Home</button>
        <form >
          <div class="form-group" >
            <label for="carname">Car Name:</label>
            <input type="text" class="form-control" id="carname" placeholder="Car Name" value="{{car.name}}" name="name" [(ngModel)]="name">
          </div>
          <div class="form-group">
            <label for="carclass">Car Class:</label>
            <input type="text"  class="form-control" id="carclass" placeholder="Car Class" value="{{car.class}}" name="class" [(ngModel)]="class">
          </div>
          <div class="form-group">
            <label for="fuel">Fuel Type:</label>
            <input type="text" class="form-control" id="fueltype" placeholder="Fuel Type" value="{{car.fuelType}}" name="fuelType" [(ngModel)]="fuelType">
          </div>
          <div class="form-group">
            <label for="transmission">Transmission:</label>
            <input type="text" class="form-control" id="transmission" placeholder="Transmission" value="{{car.transmission}}" name="transmission" [(ngModel)]="transmission">
          </div>
          <div class="form-group">
            <label for="seats">Seats:</label>
            <input type="number" class="form-control" id="seats" placeholder="Seats" value="{{car.seats}}" name="seats"[(ngModel)]="seats"> 
          </div>
          <div class="form-group">
            <label for="carimage">Car Image:</label>
            <input type="file" name="photo" class="form-control-file" id="carimage" ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)"> 
          </div>
          <button type="update" class="btn btn-default"
          (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length"  (click)="updatecar({'name':name,'class':class,'fuelType':fuelType,'transmission':transmission,'seats':seats})">Submit</button>
        </form>
      
  