<app-header></app-header>
<br/>
<br/>
<br/>
<br/>
<div *ngFor="let offer of offers" class="card bg-light mb-3 mx-auto" style="max-width: 1000px; padding:25px; text-align:center;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Get {{offer.Discount}} Discount</h5>
                <p class="card-text"><i class="fas fa-hand-point-right"></i>&nbsp;{{offer.Discription}}</p>
                <p class="card-text"><i class="fas fa-hand-point-right"></i>&nbsp;Coupon Code: {{offer.name}}</p>
            </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/i10.png" class="card-img">
          <!-- <p class="card-text">
          <h3 text-align="center"><i class="fa fa-gift"></i>FREE200 &nbsp;&nbsp; &nbsp; &nbsp;</h3>
          </p> -->
          <div class="card-text">
            <h3 text-align="center">
                <i class="fa fa-gift"></i>
                {{offer.name}} &nbsp;&nbsp; &nbsp; &nbsp;
            </h3>
        </div>
        </div>
    </div>
</div>

<app-footer></app-footer>